@font-face {
font-family:"Webdings";
src: url("../fonts/Webdings.eot");
src: url("../fonts/Webdings.eot?#iefix") format("embedded-opentype"),
url("../fonts/Webdings.woff") format ("woff"),
url("../fonts/Webdings.ttf") format ("truetype");
font-style:normal;
font-weight:normal;
}
@font-face {
font-family:"Raleway-Bold";
src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
url("../fonts/Raleway-Bold.woff") format ("woff"),
url("../fonts/Raleway-Bold.ttf") format ("truetype");
font-style:normal;
font-weight:normal;
}