*	{margin: 0 ;
	padding: 0;}

ul{list-style: none;}
a{text-decoration: none;}
body{font: 12px/1.67  Raleway-Bold, Helretica, sans-serif;}
.row {width: 1170px; margin: 0 auto;}
.top{ height: 100px;}
.wrapper{
		background: url(img/bgbody.png)no-repeat 50% 0 #ffffff;
		width: 100%;
		height: 750px;}
.logo{padding-top: 38px;
    float: left;}
nav ul li{ float: right;
    width: 120px;
    padding-top: 45px;}
nav ul li a{color: #ffffff; text-transform: uppercase;}
h1{padding: 155px 120px 0; text-transform: uppercase;font-size: 65px; 
	text-align:center; color: #ffffff;line-height: 70px;}
.row p{padding: 45px 120px 0;text-align: center;color: #ffffff; font-size: 22px; 
	line-height: 32px; }
bottom{margin-top: 76px; text-transform: uppercase;width: 199px; 
		color: #ffffff; font-size: 22px;text-align:center; 
		background: #e84545; padding: 22px 56px;margin-left: 38%;
		display: block;}
.servis{
		background: #ffffff 50% 0 ;
		width: 100%;
		padding-top: 46px;
		padding-bottom: 125px; height: 450px;}
.servis strong{font-size: 14px; text-transform: uppercase; color: #2d3033;
  font-weight: bold; display: block; padding-bottom: 25px;}
.servis p{color: #9a9ea2;
    padding: 0;
    font-size: 14px;
    line-height: 24px; }
.item {float: left;
    display: block;
    width: 297px;
    text-align: center;
    margin: 0 46px; }
.item img{ margin-bottom: 34px;
    position: relative;
    text-align: center;
    margin-top: 76px;}
.project{padding-top: 125px; width: 100%; height: 700px; }

.worck{ 
    float: left;
    height: 350px;
    position: relative;
    width: 473px;}
.worck h2, .worck p{opacity: 0;}
.worck:hover h2{display:blok!important; text-align: center;
 color:#ffffff;text-transform: uppercase; font-weight: 600px; 
 font-size: 14px;opacity: 1; vertical-align: middle; margin-top: 150px;}
.worck:hover p{display:blok!important; text-align: center;
 color:#ffffff; font-size: 14px; opacity: 1;vertical-align: middle;}

.worck:hover {background-color:#e84545;opacity: 0.9; display: inline;
 position:relative; z-index: 1111;}



 .worck:nth-child(1){background-image:url(img/ico1.png);}
 .worck:hover{background:rgba(232, 69, 69, 0.9);}
 
 
.worck:nth-child(2){background-image:url(img/ico2.png);}
.worck:activ {background:rgba(232, 69, 69, 0.1) url("img/ico2.png") 
repeat scroll 0 0;}


.worck:nth-child(3){background-image:url(img/ico3.png);}
.worck:nth-child(4){background-image:url(img/ico4.png);}
.worck:nth-child(5){background-image:url(img/ico5.png);}
.worck:nth-child(6){background-image:url(img/ico6.png);}
.worck:nth-child(7){background-image:url(img/ico7.png);}
.worck:nth-child(8){background-image:url(img/ico8.png);}

footer{height: 345px;}
.footer_inner{ background: #3a3e64 none repeat scroll 0 0;
    color: #ffffff;
    position: relative;
    text-align: center;
	padding: 70px 0;
	height: 250px;}
.footer_box{float: left;
    width: 30%;
    text-align: center; }
.footer_box h2{text-transform: uppercase; color: #ffffff;
	font-size: 14px;margin-top: 35px;}
.footer_box p{color: #adaebb; font-size: 14px; padding: 0;line-height: 24px;}
.copyright {
    background: #313454 none repeat scroll 0 0;
    padding: 30px 0;
    position: relative;
    text-align: center;
}
.copyright p{ color: #7c7c7d;}
.copyright strong{color: #ffffff;}
.copyright span{font-family: Webdings;color: #e84545;}